/*version desktop page acceuil*/

html
{
    max-width: 2000px;
}

/* page d'acceuil */
.quatresblocs{
    .fa-regular.fa-heart{
        display:inline;
        float: right;
        margin-right: 35px;
        font-size: 22px;
        margin-top: -32px;
        color: black;
        overflow: hidden;
                         }

       .fa-solid.fa-heart{
           display:inline;
            float: right;
            margin-right: 36px;
           color: transparent;
           font-size: 22px;
           margin-top: -32px;
 }
}
.texte-sous-photo{
    margin-top: -15px;
}

/*footer*/

footer{
    .logo_footer{
        margin-left: 50px;
        padding-top: 10px;
    }
}


/*page 2 en desktop modification*/

