 @import "_variable.scss";
 @import "_headerfooter.scss";
 @import "_stylepageacc.scss";
 @import "_animations.scss";
 @import "_desktop.scss";
   

/* css de la page 1*/


/* entete de toutes les pages */


header-1{
    width: 100%;
    .logo-1{
        text-align: center;
        font-family: 'Shrikhand',sans-serif;
    }
    .image-entete{
        position: absolute;
     width: 100%;
     margin-left: -50%;
     @media (min-width: 768px){
    }
    }
}

.page-1{
    position: relative;
    margin-top: 55%;
    background-color: rgb(240, 234, 234);
    border-radius: 40px 40px 0 0;
   width: 100%;  
   @media (min-width: 768px){
    height: 100%;
    margin-top: 25%;
}
} 

/*entete page 1*/

.titre-page1{
    h2{
        font-family:'Shrikhand', sans-serif;
        font-size: 26px;
        margin-left: 5%;
        margin-top: -10px;
        
    }
    .fa-regular.fa-heart{
        margin-right: -25px;
        font-size: 25px;
        @media (min-width: 768px){
            margin-left: 0px;
        }
    }
    .fa-solid.fa-heart{
        margin-right: -25px;
        font-size: 25px;
        color: transparent;
        margin-left: 67px;
        @media (min-width: 768px){
            margin-left: 350px;
           
        }
    }
}

/* blocs de toutes les pages */

        .blocs-entrees{
        visibility: hidden;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-name: effetspages; 
        @media (min-width: 768px){
            width: 40%;
            margin-left: 10%;
        }
        
        h2{
            font-size: 15px;
            border-bottom: 03px solid #99E2D0;
            width: 50px;
            padding-bottom: 10px;
            @media (min-width: 768px){
                margin-left: 45%;
            }
        }
    }


   .blocs-plats{
    visibility: hidden;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-name: effetspages;
    @media (min-width: 768px){
        width: 40%;
        display: inline-block;
        float: right;
        margin-top: -310px;
        margin-right: 10%;
    }
    
    h2{
        font-size: 15px;
        border-bottom: 03px solid $couleurtertiaire;
        width: 50px;
        padding-bottom: 10px;
        @media (min-width: 768px){
            margin-left: 45%;
        }
    }
    }

    .blocs-desserts{
        visibility: hidden;
        animation-duration: 3s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        animation-name: effetspages; 
        @media (min-width: 768px){
            width: 50%;
            margin-left: 25%;
        }
        h2{
        font-size: 15px;
        border-bottom: 03px solid $couleurtertiaire;
        width: 50px;
        padding-bottom: 10px;
        @media (min-width: 768px){
            margin-left: 45%;
            font-weight: bold;
        }
    } 
    }

    .boutton-commander{
        visibility: hidden;
        animation-duration: 3s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        animation-name: effetspages; 
        
        background:linear-gradient($couleursecondaire,$couleurprimaire);
            border: none;
            box-shadow: 0 0 1em rgb(198, 197, 197);
           margin-left: 15%;
           border-radius: 50px;
           width: 70%;
           height: 50px;
           font-size: 18px;
           font-weight: 600;
        margin-bottom: 10%;
        margin-top: 06%;
        text-decoration: none;
        list-style: none;
        color: white;
        @media (min-width: 768px){
            width: 300px;
            margin-left: 32%;
        }
        &:hover{
            background:linear-gradient(#ff79d9ca,#9256dcca);
            box-shadow: 0 0 2em rgb(179, 178, 178);
           }
        
    }


    /*modification page 2*/

    .image-entete2{
        width: 100%;
        position: absolute;
        margin-left: -50%;
    }

    .titre-page2{
        h2{
            font-family:'Shrikhand', sans-serif;
            font-size: 26px;
            margin-left: 5%;
            margin-top: -10px;
        }
        .fa-regular.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            @media (min-width: 768px){
                margin-left: 0px;
            }
        }
        .fa-solid.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            color: transparent;
            margin-left: 54px;
            @media (min-width: 768px){
                margin-left: 350px;
               
            }
        }
    }


    /*modification page 3*/

    .image-entete3{
        width: 100%;
        position: absolute;
        width: 100%;
        margin-left: -50%;
    }

    .titre-page3{
        h2{
            font-family:'Shrikhand', sans-serif;
            font-size: 26px;
            margin-left: 5%;
            margin-top: -10px;
        }
        .fa-regular.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            @media (min-width: 768px){
                margin-left: 0px;
            }
        }
        .fa-solid.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            color: transparent;
            margin-left: 110px;
            @media (min-width: 768px){
                margin-left: 350px;
               
            }
        }
    }

    /*modification page4*/

    .image-entete4{
        width: 100%;
        position: absolute;
        width: 100%;
        margin-left: -50%;
    }

    .titre-page4{
        h2{
            font-family:'Shrikhand', sans-serif;
            font-size: 26px;
            margin-left: 5%;
            margin-top: -10px;
        }
        .fa-regular.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            @media (min-width: 768px){
                margin-left: 0px;
            }
        }
        .fa-solid.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            color: transparent;
            margin-left: 70px;
            @media (min-width: 768px){
                margin-left: 350px;
               
            }
        }
    }

   

   