 @import "_variable.scss";
 @import "_headerfooter.scss";
 @import "_stylepageacc.scss";
 @import "_animations.scss";
 @import "_desktop.scss";
   

/* css de la page 1*/


/* entete de toutes les pages */


header-1{
    width: 100%;
    .logo-1{
        text-align: center;
        font-family: 'Shrikhand',sans-serif;
    }
    .image-entete{
        position: absolute;
     width: 100%;
     margin-left: -50%;
    }
}

.page-1{
    position: relative;
    margin-top: 55%;
    background-color: rgb(240, 234, 234);
    border-radius: 40px 40px 0 0;
   width: 100%;  
   
}
/*entete page 1*/

.titre-page1{
    h2{
        font-family:'Shrikhand', sans-serif;
        font-size: 26px;
        margin-left: 5%;
        margin-top: -10px;
    }
    .fa-regular.fa-heart{
        margin-right: -25px;
        font-size: 25px;
        
    }
    .fa-solid.fa-heart{
        margin-right: -25px;
        font-size: 25px;
        color: transparent;
        margin-left: 67px;
    }
}

/* blocs de toutes les pages */

    .blocs-entrees{
        visibility: hidden;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-name: effetspages; 
        
        h2{
            font-size: 15px;
            border-bottom: 03px solid #99E2D0;
            width: 50px;
            padding-bottom: 10px;
        }
        /*.bloc{
        border: 1px solid rgb(217, 215, 215);
        background-color: white;
        width: 92%;
        margin-left: 5%;
        height: 61px;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0 0 2em rgb(198, 197, 197);
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
        transition: all 0.3s;
        
    }*/


        
        h3{ 
            margin-top: 10px;
            margin-bottom: 05px;
            font-size: 16px;
            padding-left: 05%;
            font-weight: 900;
            
            
        }
        h4{
            font-size: 14px;
            font-weight: 300;
            margin-top: 0;
            padding-left: 05%;
            
        }
    }


   .blocs-plats{
    visibility: hidden;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-name: effetspages; 
    
    h2{
        font-size: 15px;
        border-bottom: 03px solid $couleurtertiaire;
        width: 50px;
        padding-bottom: 10px;
    }
    .bloc{
        border: 1px solid rgb(217, 215, 215);
    background-color: white;
    width: 92%;
    margin-left: 5%;
    height: 61px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 0 2em rgb(198, 197, 197);
    display: flex;
    flex-direction: column;
    

    }
    h3{ 
        margin-top: 10px;
        margin-bottom: 05px;
        font-size: 16px;
        padding-left: 05%;
        font-weight: 900;
        
        
    }
    h4{
        font-size: 14px;
        font-weight: 300;
        margin-top: 0;
        padding-left: 05%;
        
    }
    }

    .blocs-desserts{
        visibility: hidden;
        animation-duration: 3s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        animation-name: effetspages; 
        h2{
        font-size: 15px;
        border-bottom: 03px solid $couleurtertiaire;
        width: 50px;
        padding-bottom: 10px;
    }
    .bloc{
        border: 1px solid rgb(217, 215, 215);
    background-color: white;
    width: 92%;
    margin-left: 5%;
    height: 61px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 0 2em rgb(198, 197, 197);
    display: flex;
    flex-direction: column;

    }
    h3{ 
        margin-top: 10px;
        margin-bottom: 05px;
        font-size: 16px;
        padding-left: 05%;
        font-weight: 900;
        
        
    }
    h4{
        font-size: 14px;
        font-weight: 300;
        margin-top: 0;
        padding-left: 05%;
        
    }
 
    }

    .boutton-commander{
        visibility: hidden;
        animation-duration: 3s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        animation-name: effetspages; 
        
        background:linear-gradient($couleursecondaire,$couleurprimaire);
            border: none;
            box-shadow: 0 0 1em rgb(198, 197, 197);
           margin-left: 15%;
           border-radius: 50px;
           width: 70%;
           height: 50px;
           font-size: 18px;
           font-weight: 600;
        margin-bottom: 10%;
        margin-top: 06%;
        text-decoration: none;
        list-style: none;
        color: white;
        &:hover{
            background:linear-gradient(#ff79d9ca,#9256dcca);
            box-shadow: 0 0 2em rgb(179, 178, 178);
           }
        
    }

    /*modification page 2*/

    .image-entete2{
        width: 100%;
        position: absolute;
        margin-left: -50%;
    }

    .titre-page2{
        h2{
            font-family:'Shrikhand', sans-serif;
            font-size: 26px;
            margin-left: 5%;
            margin-top: -10px;
        }
        .fa-regular.fa-heart{
            margin-right: -25px;
            font-size: 25px;
        }
        .fa-solid.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            color: transparent;
            margin-left: 54px;
        }
    }


    /*modification page 3*/

    .image-entete3{
        width: 100%;
        position: absolute;
        width: 100%;
        margin-left: -50%;
    }

    .titre-page3{
        h2{
            font-family:'Shrikhand', sans-serif;
            font-size: 26px;
            margin-left: 5%;
            margin-top: -10px;
        }
        .fa-regular.fa-heart{
            margin-right: -25px;
            font-size: 25px;
        }
        .fa-solid.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            color: transparent;
            margin-left: 110px;
        }
    }

    /*modification page4*/

    .image-entete4{
        width: 100%;
        position: absolute;
        width: 100%;
        margin-left: -50%;
    }

    .titre-page4{
        h2{
            font-family:'Shrikhand', sans-serif;
            font-size: 26px;
            margin-left: 5%;
            margin-top: -10px;
        }
        .fa-regular.fa-heart{
            margin-right: -25px;
            font-size: 25px;
        }
        .fa-solid.fa-heart{
            margin-right: -25px;
            font-size: 25px;
            color: transparent;
            margin-left: 70px;
        }
    }

   

   