body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  padding: 1px;
}

/*header*/
header {
  width: 100%;
  background: rgba(240, 234, 234, 0.81);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .localisation {
  border: 1px solid rgb(246, 244, 244);
  background-color: rgba(212, 210, 210, 0.805);
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .ville {
  padding-left: 20px;
  font-weight: 900;
}
header form {
  width: 100%;
}
header h2 {
  margin-top: 10%;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}
header h3 {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  width: 99%;
}
header .bouton-explorer {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 0 0 1em rgb(198, 197, 197);
  margin-left: 15%;
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 50px;
  width: 70%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}
header .bouton-explorer:hover {
  background: linear-gradient(rgba(255, 121, 217, 0.7607843137), rgba(146, 86, 220, 0.768627451));
  box-shadow: 0 0 2em rgb(179, 178, 178);
}

/*main*/
main {
  width: 100%;
}
main h2 {
  font-size: 20px;
  font-weight: 900;
  margin-left: 5%;
  padding-top: 5%;
}
main ul {
  width: 100%;
}
main span {
  position: relative;
  padding: 0px;
  margin: -70px;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  margin-right: 20px;
}
main li {
  border: 1px solid rgba(240, 234, 234, 0.81);
  box-shadow: 0 0 1em rgb(198, 197, 197);
  width: 85%;
  height: 50px;
  margin: 20px auto;
  font-weight: 900;
  border-radius: 20px;
  background-color: rgba(240, 234, 234, 0.81);
  display: flex;
  justify-content: center;
  align-items: center;
}
main li:hover {
  background-color: rgba(222, 204, 244, 0.7921568627);
}
main .fa-solid.fa-mobile-screen-button {
  margin-right: 20px;
}
main .fa-solid.fa-mobile-screen-button:hover {
  color: #9356DC;
}
main .fa-solid.fa-list {
  margin-right: 20px;
}
main .fa-solid.fa-list:hover {
  color: #9356DC;
}
main .fa-solid.fa-store {
  margin-right: 20px;
}
main .fa-solid.fa-store:hover {
  color: #9356DC;
}

/*partie restaurants*/
section {
  width: 100%;
  height: 100%;
  background-color: rgba(240, 234, 234, 0.81);
  padding: 20px 0;
}
section .bloc a {
  display: block;
  flex-wrap: wrap;
  width: 90%;
  height: 220px;
  background-color: #fff;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 20px;
  margin: 20px auto;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 0 1em rgb(198, 197, 197);
}
section figure {
  margin: 0;
}
section .figure-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin-bottom: 2%;
}
section .texte-sous-photo {
  width: 100%;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  color: black;
  margin-left: 5%;
  padding-top: 0;
}
section .texte-sous-photo h3 {
  font-size: 19px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
section .texte-sous-photo p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
section .fa-regular.fa-heart {
  display: inline;
  float: right;
  margin-right: 5%;
  color: grey;
}
section .fa-regular.fa-heart:before {
  font-weight: bold;
  transition: color 1s ease-out;
}
section .fa-regular.fa-heart:hover {
  color: #9356DC;
  cursor: pointer;
}
section .nouveau span {
  display: flex;
  float: right;
  width: 80px;
  height: 30px;
  color: green;
  font-weight: 900;
  border-radius: 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer*/
footer {
  width: 100%;
  height: 230px;
  background-color: black;
  color: white;
}
footer .logo_footer {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  font-size: 12px;
  margin-left: 12%;
  padding-top: 5%;
}
footer ul li {
  color: white;
  padding: 5px;
  font-size: 17px;
  list-style-type: none;
  text-decoration: none;
}
footer .fa-solid.fa-utensils {
  padding-right: 25px;
}
footer .fa-solid.fa-handshake-angle {
  padding-right: 20px;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

/* css de la page 1*/
/*entete page 1*/
.page-1 {
  background-color: rgba(240, 234, 234, 0.81);
  border-radius: 30px 30px 0 0;
  width: 100%;
}

header-1 {
  width: 100%;
}
header-1 .logo-1 {
  text-align: center;
  font-family: "Shrikhand", sans-serif;
}
header-1 .image-entete {
  width: 100%;
}

.titre-page1 h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
  margin-left: 5%;
}
.titre-page1 .fa-regular.fa-heart {
  padding-left: 18%;
  font-size: 25px;
}

.blocs-entrees h2 {
  font-size: 15px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding-bottom: 10px;
}
.blocs-entrees .bloc {
  border: 1px solid rgb(217, 215, 215);
  background-color: white;
  width: 90%;
  margin-left: 5%;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 0 2em rgb(198, 197, 197);
  display: flex;
  flex-direction: column;
}
.blocs-entrees h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 5%;
  font-weight: 900;
}
.blocs-entrees h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  padding-left: 5%;
}
.blocs-entrees p {
  margin-top: -40px;
  margin-right: 30px;
  font-weight: 900;
  font-size: 13px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.blocs-plats h2 {
  font-size: 15px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding-bottom: 10px;
}
.blocs-plats .bloc {
  border: 1px solid rgb(217, 215, 215);
  background-color: white;
  width: 90%;
  margin-left: 5%;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 0 2em rgb(198, 197, 197);
  display: flex;
  flex-direction: column;
}
.blocs-plats h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 5%;
  font-weight: 900;
}
.blocs-plats h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  padding-left: 5%;
}
.blocs-plats p {
  margin-top: -40px;
  margin-right: 30px;
  font-weight: 900;
  font-size: 13px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.blocs-desserts h2 {
  font-size: 15px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding-bottom: 10px;
}
.blocs-desserts .bloc {
  border: 1px solid rgb(217, 215, 215);
  background-color: white;
  width: 90%;
  margin-left: 5%;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 0 2em rgb(198, 197, 197);
  display: flex;
  flex-direction: column;
}
.blocs-desserts h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 5%;
  font-weight: 900;
}
.blocs-desserts h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  padding-left: 5%;
}
.blocs-desserts p {
  margin-top: -40px;
  margin-right: 30px;
  font-weight: 900;
  font-size: 13px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.boutton-commander {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0 0 1em rgb(198, 197, 197);
  margin-left: 15%;
  border-radius: 50px;
  width: 70%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10%;
  margin-top: 6%;
  text-decoration: none;
  list-style: none;
  color: white;
}
.boutton-commander:hover {
  background: linear-gradient(rgba(255, 121, 217, 0.7607843137), rgba(146, 86, 220, 0.768627451));
  box-shadow: 0 0 2em rgb(179, 178, 178);
}

/*modification page 2*/
.image-entete2 {
  width: 100%;
  height: 250px;
}

/*modification page 3*/
.image-entete3 {
  width: 100%;
}

/*modification page4*/
.image-entete4 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
